.DS_Store
clases/.DS_Store
clases/Cap00_Lineas_Generales/.DS_Store
clases/Cap01_Introduccion/.DS_Store
clases/Cap02_Extraccion_de_Caracteristicas/.DS_Store
clases/Cap03_Seleccion_de_Caracteristicas/.DS_Store
clases/Cap04_Clasificacion/.DS_Store
clases/Cap05_Evaluacion/.DS_Store
clases/.DS_Store
