patrones/.DS_Store
patrones/clases/Cap00_Lineas_Generales/.DS_Store
patrones/clases/Cap01_Introduccion/.DS_Store
patrones/clases/Cap02_Extraccion_de_Caracteristicas/.DS_Store
patrones/clases/Cap03_Seleccion_de_Caracteristicas/.DS_Store
patrones/clases/Cap04_Clasificacion/.DS_Store
patrones/clases/Cap05_Evaluacion/.DS_Store
clases/.DS_Store
